<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-disable-bitcode"
  version="1.2.1" >

  <name>DisableBitcode</name>
  <description>Cordova plugin to disable bitcode in iOS build settings</description>
  <license>MIT</license>
  <keywords>cordova,phonegap,bitcode,plugin</keywords>
  <repo>https://github.com/akofman/cordova-plugin-disable-bitcode.git</repo>

  <platform name="ios">
    <hook type="after_plugin_install" src="src/disable-bitcode.js" />
  </platform>
</plugin>
